.operate-chart-box{
    position: absolute;
    left: 8.5rem;
    top: 1rem;
    width: 4rem;
    /* height: 3.75rem; */
    height: auto;
    border-radius: 6px;
    opacity: 1;
    background: rgba(238, 238, 238, 0.8);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    z-index: 10;
    cursor: pointer;
    color: transparent;

}
.select-chart{
    display: inline-block;
    position: relative;
    margin: 0.4375rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 6px;
    opacity: 1;
    
}
.bgc-white{
    background: #FFFFFF;
}
.chart-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.chart-options{
    position: absolute;
    left:4.25rem;
    top: 0;
    min-width: 16rem;
    border-radius: 6px;
    opacity: 1;
    background: rgba(238, 238, 238, 0.8);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}
.chart-options div{
    flex: 1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 15rem;
    height: 2.8rem;
    line-height: 2.8rem;
    white-space: nowrap;;
    font-family: var(--FSY);
    font-size: var(--font1_5);
    font-weight: normal;
    color: var(--C3B);
}
.chart-options div:nth-child(-n+2){
    border-bottom:1px dotted var(--CB0);
}
.active-chart{
    background: rgba(138, 216, 121, 0.1);
}
.x-label{
    position: absolute;
    top: calc(100% - 26px);
    right: calc(100% - 50px);
    right: 15px;
    font-family:"Roboto";
    font-size: 18px;
    color: #3b3b3b;
    font-weight: 600;
}