/*覆盖组件库的样式*/
/*覆盖grid默认样式*/
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0rem;
  margin-left: 0;
  margin-top: 0rem;
}
/*修复触发tooltip过后以下组件层级过低的问题----------------------------*/
.p-dropdown-panel {
  z-index: 1;
}
.p-multiselect-panel {
  z-index: 1;
}
.p-dialog-mask {
  z-index: 1;
}
.p-autocomplete-panel {
  z-index: 1;
}
.p-datepicker {
  z-index: 1;
}
.p-toast {
  z-index: 1;
}
/*修复触发tooltip过后以上组件层级过低的问题----------------------------*/

/*table自定义样式*/
.row-no-curve-file {
  /*border-right: 4px solid #c63737;*/
  background-color: rgba(93, 93, 93, 0.3) !important;
}
.row-curve-highlight {
  background-color: #eff6ff !important;
  color: #1d4ed8 !important;
}
.p-button {
  font-size: 1rem !important;
}
