.cap-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding:1rem 2rem;
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #495057;
  font-family: PingFangSC-Regular, PingFang SC;
  border-radius: 16px;
  border: 1px solid #DEE2E6;
}
.cap-card-icon{
  position: absolute;
  right: -12px;
  top: -12px;
  height: 5rem;
  width: 5rem;
}
.cap-card-label-1{
  font-size: 1.75rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cap-card-label{
  font-size: 1rem;
  font-weight: 400;
}
.cap-card-bc-black{
  background: rgba(41,50,65,0.8);
}
.cap-card-status-ok {
  color: #1CA54E;
  text-transform: uppercase;
}
.cap-card-status-nok {
  color: #D64949;
  text-transform: uppercase;
}
.cap-card-status-failed {
  color: #D64949;
  text-transform: uppercase;
}
.cap-card-status-doing {
  color: #316DCE;
  text-transform: uppercase;
}
.cap-card-status-ready {
  color: #6C757D;
  text-transform: uppercase;
}
.cap-card-bc-status-ok {
  background: #35e186;
}
.cap-card-bc-status-nok {
  background: #fa6a6a;
}
.cap-card-bc-status-doing {
  background: rgba(6, 212, 215, 0.8);
}
.cap-card-bc-status-ready {
  background: #bebebe;
}
.cap-card-bc-blue{
  background: #69B7FF;
}
.cap-card-bc-mediumpurple{
  background: #696CFF;
}
.cap-card-bc-pink{
  background: #FF6384;
}
.cap-card-bc-cyan{
  background: #4CBFC0;
}
