/* @font-face {
    font-family: "siRuanHeavy";
    src: url('../fonts/SourceHanSansCN-Heavy.otf');
}
@font-face {
    font-family: "siRuanBold";
    src: url('../fonts/SourceHanSansCN-Bold.otf');
}
@font-face {
    font-family: "siRuanMedium";
    src: url('../fonts/SourceHanSansCN-Medium.otf');
}
@font-face {
    font-family: "siRuanRegular";
    src: url('../fonts//SourceHanSansCN-Regular.otf');
}

@font-face {
    font-family: "siRuanNormal";
    src: url('../fonts/SourceHanSansCN-Normal.otf');
}
@font-face {
    font-family: "siRuanLight";
    src: url('../fonts/SourceHanSansCN-Light.otf');
} */
/* @font-face {
    font-family: sans;
    src: url(../fonts/SourceHanSansCN-Regular.otf);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

/* @font-face {
    font-family: sans;
    src: url(../fonts/SourceHanSansCN-Medium.otf);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

:root {
  --error: #ec0606;
  --fff: #ffffff;
  --C65: #656565;
  --Cf1: #f1f1f1;
  --C96: #969696;
  --C5A: #5a5a5a;
  --CEA: #eaeaea;
  --CD4: #d4d4d4;
  --Cf8: #f8f8f8;
  --CDE: #dedede;
  --Cb0: #b0b0b0;
  --C3B: #3b3b3b;
  --C00: #000000;
  --Cee: #eeeeee;
  --Cdd: #dddddd;
  --Cc6: #c6c6c6;
  --Cd4: #d4d4d4;
  --CC7: #c7c7c7;
  --CB0: #b0b0b0;
  --CF5: #f5f5f5;
  --CEE: #eeeeee;
  --C00c155: #00c155;
  --CD61D00: #d61d00;
  --C1e90ff: #1e90ff;
  --Cfad242: #fad242;
  --CE61F00: #e61f00;

  /* 字体 */
  --FSY: "Source Han Sans CN";
  --FROBOT: "Roboto";
  /* 字号 */
  --font4_5: 4.5rem;
  --font1_75: 1.75rem;
  --font1_625: 1.625rem;
  --font1_125: 1.125rem;
  --font1_25: 1.25rem;
  --font2_25: 2.25rem;
  --font2: 2rem;
  --font1_5: 1.5rem;
  --font1_2: 1.2rem;
}
